body {
    font-family: Helvetica, sans-serif;
    font-size: small;
    font-weight: 300;
    margin: 0;
    --card-color: lightgray;
}
button {
    font-size: x-small;
}
ul {
    list-style: none;
}
.header {
    background-color: #28b76b;
    color: white;
    padding: 6px;
    margin-bottom: 12px;
}
.container-main {
    display: grid;
    row-gap: 1px;
    margin: auto;
    width:95%;
}
.container-testcase {
    display: grid;
    row-gap: 6px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding: 3px 12px;
}
.container-testcase-header,
.container-testcase-summary,
.container-teststep-summary {
    display: grid;
    grid-template-columns: 15fr 1fr 1fr 1fr 20px;
    line-height: 19px;
}
.container-testcase-summary:hover,
.container-teststep-summary:hover {
    background-color: #f8f8f8;
    cursor: pointer;
    z-index: 99;
}
.container-teststep-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 12px;
    margin-bottom: 12px;
}
.container-teststeps {
    display: grid;
}
.testcase-image {
    text-align: center;
}
.testcase-data {
    margin-top: 6px;
}
.step-name {
    padding-left: 24px;
}
.card {
    border: 1px solid var(--card-color);
    border-radius: 8px;
    padding: 6px;
    text-align: center;
    background-color: white;
}
img {
    width: 95%;
    height: auto;
    border: 1px solid lightgray;
    box-shadow: 4px 4px 4px lightgray;
}
.pass {
    color: green;
    --card-color: green;
}
.fail {
    color: red;
    --card-color: red;
}
.center {
    justify-self: center;
}
.hidden {
    display: none;
}
.title {
    font-weight: 900;
}
.testcase-data {
    display: grid;
    grid-template-columns: 100px auto;
    justify-items: left;
    margin-bottom: 6px;
}
.label {
    padding-left: 12px;
}
.material-symbols-outlined {
    font-size: 16px;
}
.step-name {
    font-family: 'Courier New', Courier, monospace;
}